.head{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.ptiza{
    display: flex;
    padding: 10px;
}
.open-login-button{
    border: none;
    border-radius: 20px;
    background-color: rgb(185, 185, 185);
    color: #FFFFFF;
    width: 75px;
    height: 50px;
    cursor: pointer;
    font-family: 'Monomorium', monospace;
}
.basket{
    border: none;
    border-radius: 20px;
    background-color: #ff6b35;
    color: #f7f7f7;
    font-family: monospace;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.basket:hover{
    transform: scale(1.05);
    background-color: #A0522D;
}

.name-type{
    display: flex;
    font-family: 'Monomorium',monospace;
}
.card {    
    display: flex;
    flex-wrap:wrap;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.cd{
    border: 1px solid #f7f7f7;
    border-radius: 20px;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    width: 300px;
    height: 600px;
    font-family: 'Monomorium', monospace;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img{
    height: 200px;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
}
.img:hover{
    transform: scale(1.15) rotate(-deg);
    
}
.desc{
   color: gray;
   height: px;
}
.razmer{
    display:flex;
    align-items: center;
    background-color: lightgray;
    border-radius: 15px;
}

.plus{
    font-size: large;
    font-weight: bold;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 15px;
    background-color: LightGray;
    color: #1a1a1a;
    

}
.minus{
    font-size: large;
    font-weight: bold;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 15px;
    background-color: LightGray;
    color: #1a1a1a;

}
.btn{
    border: none;
    border-radius: 20px;
    background-color: coral ;
    color: #FAEBD7;
    font-family: 'Monomorium', Courier, monospace;
    font-weight: bold;
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.btn:hover{
    background-color: coral;
    transform: scale(1.1);
}
.crdtxt{
     display: flex;
    justify-content: end;
    align-items: end;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dodo Rounded', monospace;
    
}

.modal-content {
    position: relative;
    width: 50%;
    max-width: 36rem; /* 576px - примерное значение max-w-xl */
    background-color: white; /* neutral-900 */
    color: white;
    padding: 1.5rem; /* p-6 */
    border-radius: 1rem; /* rounded-2xl */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    animation: fadeIn 0.3s ease-in-out;
}

.close-button {
    position: absolute;
    top: 0.75rem; /* top-3 */
    right: 0.75rem; /* right-3 */
    color: black;
    font-size: 1.25rem; /* text-xl */
    background: none;
    border: none;
    cursor: pointer;
}

.close-button:hover {
    transform: scale(1.05)
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.pizza-image{
    width: 300px;
    height: 300px;
}

.card-modal-pizza{
    background-color: #ff6b35;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 19px;
    font-size: 16px;
    cursor: pointer;
}
.card-modal-pizza:hover{
    background-color: #A0522D;
}
.form-add-pizza{
    color: black;
    padding: 1.5rem;
}